Web References/AQIRSync/CRMToAqirSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx">
      <s:element name="SaveContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrXmlValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveContactResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SaveAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrXmlValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXmlValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteContactResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXmlValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAddressResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAMDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXmlValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAMDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAMDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveContactSoapIn">
    <wsdl:part name="parameters" element="tns:SaveContact" />
  </wsdl:message>
  <wsdl:message name="SaveContactSoapOut">
    <wsdl:part name="parameters" element="tns:SaveContactResponse" />
  </wsdl:message>
  <wsdl:message name="SaveContactAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="SaveAddressSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAddress" />
  </wsdl:message>
  <wsdl:message name="SaveAddressSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAddressResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAddressAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="DeleteContactSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="DeleteContactSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteContactAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="DeleteAddressSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAddress" />
  </wsdl:message>
  <wsdl:message name="DeleteAddressSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAddressResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAddressAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="UpdateAMDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAMDetails" />
  </wsdl:message>
  <wsdl:message name="UpdateAMDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAMDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAMDetailsAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SaveContact">
      <wsdl:input message="tns:SaveContactSoapIn" />
      <wsdl:output message="tns:SaveContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAddress">
      <wsdl:input message="tns:SaveAddressSoapIn" />
      <wsdl:output message="tns:SaveAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input message="tns:DeleteContactSoapIn" />
      <wsdl:output message="tns:DeleteContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAddress">
      <wsdl:input message="tns:DeleteAddressSoapIn" />
      <wsdl:output message="tns:DeleteAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAMDetails">
      <wsdl:input message="tns:UpdateAMDetailsSoapIn" />
      <wsdl:output message="tns:UpdateAMDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveContact">
      <soap:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/SaveContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveContactAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAddress">
      <soap:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/SaveAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveAddressAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteContactAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAddress">
      <soap:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/DeleteAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteAddressAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAMDetails">
      <soap:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/UpdateAMDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateAMDetailsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveContact">
      <soap12:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/SaveContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SaveContactAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAddress">
      <soap12:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/SaveAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SaveAddressAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap12:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/DeleteContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteContactAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAddress">
      <soap12:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/DeleteAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteAddressAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAMDetails">
      <soap12:operation soapAction="http://localhost/CRMToAqirSyncService/CRMToAqirSyncService.asmx/UpdateAMDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateAMDetailsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://wizard.mscmalaysia.my/CRMToAqirSyncService/CRMToAqirSyncService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://wizard.mscmalaysia.my/CRMToAqirSyncService/CRMToAqirSyncService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>